
# ignore .rds files for now
*.rds

# ignore the .csv input files for now
input/*.csv

# ignore these things windows vim likes to create
*.un~
*~

# these things that get created when unzipping csvs
*_MACOSX*


# these are generally large "checkpoint" files that I don't want in github
cache/*.rds
cache/*.RData

subs/*.csv
*xgboost.model